{% block title %}Travel Insurance to Bali: From $22{% endblock %}
{% block content %}
<style>

  
@media all and (min-width: 40em) {
#header {
    background: url('/Media/Default/main/hero-images/default_girl_desktop.jpg') no-repeat right center #00bae4;
    background-size: cover;
  }

}
@media all and (max-width: 64em) {
#header {
    background: url('/Media/Default/main/hero-images/default_girl_tablet.jpg') no-repeat right center #00bae4;
    background-size: cover;
  }

}
@media all and (max-width: 40em) {
#header {
    background: url('/Media/Default/main/hero-images/default_girl_phone.jpg') no-repeat right center #00bae4;
    background-size: cover;
  }

}

</style>
<article class="content-item">
<div class="header-panel panel campaign-header" id="header">
  <div class="row">
    <div class="small-10 medium-10 large-10 column">
      <h1 class="">Join the TID Travel Scouts</h1>
      <p class="">Are you a blogger dedicated to telling your travel stories? Or an explorer with an eye for photography? Maybe you prefer to experience the world from behind the lens of a video camera? </p>
      <p>If we’ve just described you to a T, you could become a TID Travel Scout!</p>
    </div>
  </div>
  
  
  
  
</div>
  

  
<div class="content-panel content" id="campaign-qqw">
  <div class="row">
    <div class="small-12 meduim-9 large-8 columns">
    
    
    <h3>What’s a TID Travel Scout?</h3>
    <p>TID are recruiting customers who are frequent globetrotters and want to share their experiences with other TID travellers. As our official storytellers, TID Travel Scouts will have their content published regularly on TID’s website and social pages. </p>

    
    
    <h3>What’s in it for you?</h3>
    <p>In return for your submissions, you will receive an Annual Multi-trip policy to fuel your travel passion. That’s 12 months’ worth of travel insurance which covers you, your gear and your trips as you travel throughout the year.</p>
    
    <p>To sweeten the deal, you’ll also get an iPad mini 2 32GB with Wi-Fi (RRP $429) so you can post, tweet and ‘gram on the go.</p>
    
    
    <h3>Who can apply?</h3>

    <p>To be considered, you’ll need to -</p>
    
    <ul>
    <li>Be a TID customer</li>
    <li>Be an amateur travel blogger, video maker or photographer</li>
    <li>Have your own blog, YouTube/Vimeo, Flickr, Instagram and/or Pinterest accounts</li>
    <li>Travel overseas at least 3 times in the 12 month period of your AMT policy</li>
    <li>Be an Australian resident and agree to the T&amp;Cs of our travel insurance policy</li>
    <li>Agree to provide a minimum of 10 pieces of content in your chosen medium over the 12 month period of your AMT policy</li>
    <li>Be a passionate traveller who fits into one of these four themes:
      <ul>
        <li>Fun - whether you are at Disneyland, skiing in Niseko or diving in the Maldives, this theme is for thrill-seeking travellers who are always on the hunt for adventure.</li>
        <li>Family - you may be celebrating an anniversary, visiting family or getting away for the school holidays.  This theme puts family at the centre of your travels.</li>
        <li>Food – if you plan your trips around food then this is the one for you.  Booking a Michelin star restaurant months ahead or seeking out the best of the local cuisine is what you’re about.</li>
        <li>Film – after seeing ‘The Secret Life of Walter Mitty’ you are packing your Nikon and heading to Iceland.  You are inspired by the cinematography of film and TV (plus you may just want to snap a selfie with a star).</li>
      </ul>  
    </li>
    </ul>
    
    <div class="panel">
    <h3>How to enter</h3>
    
    <p>Now for the fun part!</p>
    
    <form class="travel-scout-form">
      <h5>Tell us a bit about you…</h5>
      <div class="row">
        <div class="large-6 columns">
          <label>Name*
            <input type="text" placeholder="Enter Your Full Name" />
          </label>
        </div>
        <div class="large-6 columns">
          <label>Email*
            <input type="text" placeholder="Enter your email address" />
          </label>
        </div>
      </div>
      
      <h5>Where do you like to be social?</h5>
      <div class="row">
        <div class="large-6 columns">
          <label>Twitter
            <input type="text" placeholder="Enter Your Twitter url" />
          </label>
        </div>
        <div class="large-6 columns">
          <label>Instagram 
            <input type="text" placeholder="Enter your Instagram url" />
          </label>
        </div>
        <div class="large-6 columns">
          <label>Pinterest
            <input type="text" placeholder="Enter Your Pinterest url" />
          </label>
        </div>
        <div class="large-6 columns">
          <label>Google+ 
            <input type="text" placeholder="Enter your Google+ url" />
          </label>
        </div>
      </div>
      
      <h5>Where are you travelling in the next 12 months?</h5>
      <div class="row">
        <div class="large-8 columns">
          <label>Destination*
            <input type="text" placeholder="Enter the country you are going to" />
          </label>
        </div>
        <div class="large-4 columns">
          <label>Intended Date*
            <input type="text" placeholder="Enter your email address" />
          </label>
        </div>
        <div class="large-8 columns">
          <label>Destination*
            <input type="text" placeholder="Enter the country you are going to" />
          </label>
        </div>
        <div class="large-4 columns">
          <label>Intended Date*
            <input type="text" placeholder="Enter your email address" />
          </label>
        </div>
        <div class="large-8 columns">
          <label>Destination*
            <input type="text" placeholder="Enter the country you are going to" />
          </label>
        </div>
        <div class="large-4 columns">
          <label>Intended Date*
            <input type="text" placeholder="Enter your email address" />
          </label>
        </div>
      </div>  
      
      
      <h5>Show us some examples of your blog, photography or film work*</h5>      
      <div class="row collapse">
        <div class="small-3 large-2 columns">
          <span class="prefix">http://</span>
        </div>
        <div class="small-9 large-10 columns">
          <input type="text" placeholder="Enter your URL...">
        </div>
        <div class="small-3 large-2 columns">
          <span class="prefix">http://</span>
        </div>
        <div class="small-9 large-10 columns">
          <input type="text" placeholder="Enter your URL...">
        </div>
        <div class="small-3 large-2 columns">
          <span class="prefix">http://</span>
        </div>
        <div class="small-9 large-10 columns">
          <input type="text" placeholder="Enter your URL...">
        </div>
      </div>
      
      <h5>Which theme best describes the kind of travel you do?*</h5>
      <div class="row">
        <div class="large-12 columns">
          <label>Check these out</label>
          <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
          <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
          <input id="checkbox3" type="checkbox"><label for="checkbox3">Checkbox 2</label>
          <input id="checkbox4" type="checkbox"><label for="checkbox4">Checkbox 2</label>
        </div>
      </div>
      
    </form>
    </div>
    
  <!--   TID QQWidget Container    -->

    <div class="row qqw-full-width blue-panel">
      <div class="small-12 column">

        <!--  Include QQWidget  -->
        {% include "qqw" %}

      </div> 
      <div class="benefits-bar blue left">

        <!--  Include Benefits Bar  -->
        {% include "benefits-bar" %}

      </div>  
    </div>

  <!-- QQW Container END -->
    
   </div> 
  </div>
</div>
  
<div class="content-panel content benefits-panel">  
  <!-- Include Benefits Panel Widget -->
  {% include "benefits-panel" %}  
</div>  
  
</article>

{% endblock %}